body {
    width: 100%;
    height: auto;
    background: linear-gradient(190deg, black, transparent), url(../images/background%20image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header {
    height: 200px;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.header h1 {
    color: white;
    text-align: center;
    font-size: 56px;
    letter-spacing: 5px;
    /* font-family: cursive; */
    font-family: 'Sacramento', cursive;
    text-shadow: 9px 3px 12px blue;
    text-decoration: none;
}



.header p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.details, .audio-video, .lyrics {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


video, iframe {
    width: 30%;
    height: 227px;
    margin: 0 10px;
    border: 1px solid gray;
    border-radius: 20px;
    opacity: 0.5;
}


video:hover, iframe:hover {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid transparent;
/*    box-shadow: 1px 1px 17px 3px powderblue;*/
    opacity: 1.0;
}



audio {
    background-color: royalblue;
    padding: 1%;
    transform: scale(0.9);
    border-radius: 50px;
}

audio:hover {
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: 1px 1px 43px 1px blue;
    cursor: pointer;
}



table {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 70px;
}


th {
    background-color: teal;
    color: white;
    font-family: math;
    letter-spacing: 2px;
    padding: 4px 49px;
}


td {
    background-color: #567979;
    padding: 4px 33px;
    font-family: serif;
}


td a {
    color: skyblue;
    font-weight: 600;
}

td a:hover {
    transition: 0.5s;
    color: yellow;
}


hr {
    height: 14px;
    width: 28%;
    background-color: royalblue;
    border-radius: 0px 20px 0px 20px;
    border: 1px solid transparent;
    margin-top: 35px;
    margin-bottom: 35px;
}




h1 {
    color: tan;
    font-family: monospace;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 37px;
}


pre {
    color: wheat;
    text-align: center;
    font-size: 16px;
}

